
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.css">
	<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.theme.css">
	<!-- My CSS	-->
	<link href="style.css"  rel="stylesheet"/>

  </head>
  <body>
	<div>
		<img style=" width:100%; position:relative; z-index:-5; " src="./pics/logo.png" />
		<ul class="navi"  >
			<li><a href="./home_page" title="">home</a></li>
			<li><a href="./about_us" title="">about us</a></li>
			<li><a href="./donate" title="">donate</a></li>
			<li><a href="./adopt" title="">Adopt</a></li>
			<li><a href="./contact_us" title="">contact us</a></li>
			<div class="li aboutus"> </div>
		</ul>
	</div>
	<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About us </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
This website has been created to rehome the cats that are ready for adoption at our rescue centre in Alexandria, Egypt. Can be rehomed locally or abroad. Please feel free to help us.
</div>
</div>
</div>
</div>

	<script src="./bootstrap3.1.0/js/bootstrap.js"></script>
	<!-- My JS -->
	<script src="./script.js"></script>
  </body>
</html>