
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.css">
	<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.theme.css">
	<!-- My CSS	-->
	<link href="style.css"  rel="stylesheet"/>
	<link href="style_cats.css"  rel="stylesheet"/>

  </head>
  <body>
	<div>
		<img style=" width:100%; position:relative; z-index:-5; " src="./pics/logo.png" />
		<ul class="navi"  >
			<li><a href="./home_page" title="">home</a></li>
			<li><a href="./about_us" title="">about us</a></li>
			<li><a href="./donate" title="">donate</a></li>
			<li><a href="./adopt" title="">Adopt</a></li>
			<li><a href="./contact_us" title="">contact us</a></li>
			<div class="li adopt"> </div>
		</ul>
	</div>
	    <div class="container-fluid" style="background-color:#e8e8e8">
        <div class="container container-pad" id="property-listings">
            
            <div style="text-align:middle; margin:auto; width:50%;" class="row">
              <div class="col-md-12">
                <h1>Cats for Adoption or donation</h1>
              </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6"> 

                    <!-- Begin Listing: alex-->
					
                    <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img style="margin:50px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/alex_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Alex </a></h4>
                                <p style="text-align: justify" class="hidden-xs">Attention real cats beauty lovers! Super handsome cross-eyed gentlemen Alex is looking for forever home. Alex is a rare silver Egyptian mau mix, young and healthy cat, he has been rescued from the street in Alexandria by our great lady Omnia who adores handsome guys 😜. Alex is so cuddly and very talk-active, affectionate and friendly cat.He is fine with other cats and ready to fly. Alex is waiting for so long to find his home and his human to cuddle with and meowing cat stories.</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
								<input type="hidden" name="catname" value="Alex">
									<button style="margin:70px 0px 0px 0px;" type="submit" name="but" value="donate" class=" btnsize btn btn-primary pull-right" id="btnContactUs">
										Donate</button>
									<button style="margin:70px 0px 0px 0px;" type="submit" name="but" value="adopt" class="btnsize btn btn-primary pull-mid" id="btnContactUs">
										Adopt</button>
								</form>
									</div>
									
                            </div>
                        </div>
                    </div><!-- End Listing-->

                     <!-- Begin Listing: candy-->
                    <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img style="margin:50px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/candy_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Candy </a></h4>
                                <p style="text-align: justify" class="hidden-xs">🐾Adoption🐾 <br/>
								Little handsome gentleman is looking for a home. He has been rescued with the siblings as a newborn kitten and joined the ACRC. Candy is very cuddly, like to climb ur shoulders and love his food so much. He is around 6 months, healthy, vaccinated, friendly and fine with other cats. If you are interesting - feel free to contact me about adoption details.</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
									<input type="hidden" name="catname" value="Candy">
									<button style="margin:88px 0px 0px 0px;" type="submit" name="but" value="donate" class=" btnsize btn btn-primary pull-right" id="btnContactUs">
										Donate</button>
									<button style="margin:88px 0px 0px 0px;" type="submit" name="but" value="adopt" class="btnsize btn btn-primary pull-mid" id="btnContactUs">
										Adopt</button>
										</form>
									</div>
                            </div>
                        </div>
                    </div><!-- End Listing-->

                    <!-- Begin Listing: ibtsam-->
                    <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div  class="media">
                            <a class="pull-left pull-mid" href="#" target="_parent">
                            <img style="margin:50px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/ibtisam_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Ibtisam </a></h4>
                                <p style="text-align: justify" class="hidden-xs">Hey there! This is time to find home for our pretty girl Ibtisam🐾 Ibtisam has been rescued from the street almost 6 months ago. She was found in a very bad shape. Power left her and she was peacefully laying in the middle of busy street with no hope to be saved 😢. Poor girl was dehydrated, she had cat flu, eye ulcers and skin infection. With care and love and help of our supporters Ibtisam recovered and turned to the beautiful but a bit crazy princess 😜 Ibtisam is very very affectionate girl, playful and curious, friendly and cuddly, fine with other cats. She is around 8 months old, she is healthy, fully vaccinated, spayd, microchipped, ready to fly to Europe. If you are interesting - inbox me - Alina Fateeva - for the adoption details 🐾</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
									<input type="hidden" name="catname" value="Ibtisam">
									<button type="submit" class=" btnsize btn btn-primary pull-right" name="but" value="donate" id="btnContactUs">
										Donate</button>
									<button type="submit" class="btnsize btn btn-primary pull-mid" name="but" value="adopt" id="btnContactUs">
										Adopt</button>
									</form>
									</div>
                            </div>
                        </div>
                    </div><!-- End Listing-->
					
                </div>

                <div class="col-sm-6">  
					<!-- Begin Listing: Mo-->
                    <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img style="margin:75px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/mo_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Mo </a></h4>
                                <p style="text-align: justify" class="hidden-xs">🐾Adoption🐾 <br/> This is Mo?? Mo has been dumped by his owner, rescued and joined the ACRC's gang and now he is looking for forever home. Mo is 2 years old male cat, he is healthy, fiv/felv negative, fully vaccinated, microchipped and neutered. He is prepared for the adoption and could leave anytime. Mo is very friendly, cuddly, polite, calm cat, fine with other cats. Home check and adoption fee are required. If you are interesting - feel free to contact me Alina Fateeva for all details.</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
								<input type="hidden" name="catname" value="Mo">
									<button style="margin:55px 0px 0px 0px;" type="submit"  name="but" value="donate" class=" btnsize btn btn-primary pull-right" id="btnContactUs">
										Donate</button>
									<button style="margin:55px 0px 0px 0px;" type="submit" name="but" value="adopt" class="btnsize btn btn-primary pull-mid" id="btnContactUs">
										Adopt</button>
										</form>
									</div>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                     <!-- Begin Listing: candy-->
                     <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img style="margin:50px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/alex_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Alexa </a></h4>
                                <p style="text-align: justify" class="hidden-xs">Attention real cats beauty lovers! Super handsome cross-eyed gentlemen Alex is looking for forever home. Alex is a rare silver Egyptian mau mix, young and healthy cat, he has been rescued from the street in Alexandria by our great lady Omnia who adores handsome guys 😜. Alex is so cuddly and very talk-active, affectionate and friendly cat.He is fine with other cats and ready to fly. Alex is waiting for so long to find his home and his human to cuddle with and meowing cat stories.</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
									<input type="hidden" name="catname" value="Alexa">
									<button style="margin:70px 0px 0px 0px;" type="submit" name="but" value="donate" class=" btnsize btn btn-primary pull-right" id="btnContactUs">
										Donate</button>
									<button style="margin:70px 0px 0px 0px;" type="submit"  name="but" value="adopt" class="btnsize btn btn-primary pull-mid" id="btnContactUs">
										Adopt</button>
								</form>
									</div>
                            </div>
                        </div>
                    </div><!-- End Listing-->
                     	<!-- Tie -->
                  <div style="height:320px;" class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img style="margin:50px 0px 0px 0px;" alt="image" class="img-responsive" src="./pics/tie_img.jpg"></a>
                            <div class="media-body fnt-smaller">
                                <h4 class="media-heading">
                                  <a href="#" target="_parent">Tie </a></h4>
                                <p style="text-align: justify" class="hidden-xs">🐾Adoption🐾 <br/>
								Little adorable princess Tia is looking for a home and family. Tia has been rescued with her siblings as a newborn kitten and they all joined the ACRC. Tia is very clever kitty, very affectionate and cuddly, loves to play, run, jump and eat. She is around 6 months old, healthy, vaccinated. Tia is looking for a home to fill it with a lot of joy and happiness.</p>
								<div class="col-md-12">
								<form action="/donat-adopt" method="post" >
								<input type="hidden" name="catname" value="Tie">
									<button style="margin:105px 0px 0px 0px;" type="submit" name="but" value="donate" class=" btnsize btn btn-primary pull-right" id="btnContactUs">
										Donate</button>
									<button style="margin:105px 0px 0px 0px;" type="submit" name="but" value="adopt" class="btnsize btn btn-primary pull-mid" id="btnContactUs">
										Adopt</button>
								</form>
									</div>
                            </div>
                        </div>
                    </div><!-- End Listing-->

				</div><!-- End Col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
	
	<script src="./bootstrap3.1.0/js/bootstrap.js"></script>
	<!-- My JS -->
	<script src="./script.js"></script>
  </body>
</html>