<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.css">
<link rel="stylesheet" href="./bootstrap3.1.0/css/bootstrap.theme.css">
	<!-- My CSS	-->
	<link href="style.css"  rel="stylesheet"/>
    <title>{{ title }}</title>
</head>
<body>
    {{{ body }}}
</body>
</html>
